.container-fluid.activity{
    padding: 1rem;
    min-width: 360px;
}

main.content-activity {
    padding-left: 16.525rem;
    width: 100%;
}

.label-section {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}


a {
    text-decoration: none;
    color: initial;
}

.container.my-class, .container.wrapper.new-class {
    border-radius: 1.25rem;
    padding: 0;
}

small {
    margin: 1rem;
}

.row.tdata,
.row.tdata2 {
    height: 4.25rem;
    overflow: hidden;
    vertical-align: middle;
    align-items: center;
    /* width: fit-content; */
}

.tdata.pr{
    padding-left: 1rem;
}
.ds{
    width: 2.5rem;
}

.badge-pr>span {
    background-color: #D2DEED;
    color: #5784BA;
    font-size: 0.75rem;
    border-radius: 0.9375rem;
    padding: 0.3rem;
}

.badge-rg>a>span {
    background-color: #57BA61;
    color: white;
    border-radius: 0.9375rem;
    padding: 0.5rem;
}

.badge-rg>a>span:hover {
    background-color: white;
    color: #57BA61;
}

.scr {
    font-size: 1.5rem;
    font-weight: bold;
}

.tb-myclass {
    padding-right: 0;
    padding-left: 0.625rem;
    margin: 0 0.3125rem;
    /* white-space: pre; */
}


/* .row.theader.tb-myclass,
.row.tdata.tb-myclass {
    padding-left: 1rem;
} */

.theader,
.theader2 {
    padding-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    align-items: center;
    padding-left: 2rem;
}

.tdata,
.tdata2 {
    font-size: 0.875rem;
    align-items: center;
    background-color: white;
    border-radius: 0.3125rem;
    margin-bottom: 0.2rem;
    height: 3.5rem;
    overflow: hidden;
    padding-left: 2rem;
    white-space: inherit;
    text-overflow: ellipsis;
}

.tdata2 {
    margin-bottom: 0;
    box-shadow: 0 0.0625rem 1.25rem rgba(0, 0, 0, 0.1);
}


/* .col {
    overflow: hidden;
} */

.badge-pr,
.badge-rg {
    overflow: visible;
}

.wrapper>.container.new-class {
    background-color: white;
    border-radius: 1.25rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.search-bar-activity {
    width: 100%;
}

form.search-activity{
    height: fit-content;
}

.form-group.search-bar-activity>label {
    color: #D2DEED;
    position: absolute;
    padding: 0.5rem;
}

.form-group.search-bar-activity>input {
    font-size: 0.875rem;
    padding: 0.5rem 2rem;
    background: white;
}
.col.form-group.btn-group.search-bar-activity{
    margin: 0;
}

input.form-control.search-activity, button.btn.btn-search-activity{
    margin: 0;
    height: auto;
    
}

.form-control.search-activity{
    border-radius: 5px;
}

.btn-search-activity {
    background-color: #5784BA;
    color: #fff;
    width: 10%;
    font-size: 0.875rem;
    height: 3rem;
    border-radius: 5px;
}

.action {
    padding-right: 0.5rem;
}

input[type=checkbox] {
    display: block;
    /* margin-top: 1rem; */
    width: 1rem;
    height: 1rem;
    /* -webkit-appearance: none; */
    outline: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

input[type=checkbox]:not(:checked) {
    background-image: url(../images/Checkbox-unchecked.svg);
}

input[type=checkbox]:checked {
    background-image: url(../images/Checkbox-unchecked.svg);
}

.sub-label {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
    margin-left: 0.7rem;
}

.sel-filter {
    background: #EEEEEE;
    font-size: 0.7rem;
    border: none;
    margin-left: 0.625rem;
}

.filter-group {
    position: relative;
    background-color: #EEEEEE;
    border-radius: 0 0 0.625rem 0.625rem;
    width: 100%;
    margin-bottom: 2rem;
    height: 2rem;
}

.dropdown-item {
    font-size: 0.7rem;
}

.btn-drop {
    box-shadow: none !important;
    border: none;
    font-size: 0.75rem;
}

.btn-drop:hover {
    background-color: #d1d0d0;
}

#class-list {
    padding-left: 0rem;
    margin-right: 0.1rem;
    border-radius: 0 0 0.625rem 0.625rem;
    margin-top: 1rem;
    padding-top: 0.4rem;
}

.pagination {
    margin-top: 1.5rem;
    font-size: 0.75rem;
}

.pg {
    padding: 0.3rem 0;
    border-radius: 0.1875rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    background-color: #fff;
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
}

.active-pg {
    background-color: #5784BA;
}

.active-pg>a {
    color: white;
}

span>a {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1025px) {
    .th{
        font-size: 0.875rem;
    }
    .tdata, .tdata2{
        font-size: 0.75rem;
    }
}
@media (max-width: 768px){
    .tbh {
        display: none;
    }
    .th{
        font-size: 1rem;
    }
    .tdata,.tdata2{
        font-size: 0.85rem;
    }
    form.sorting-myclass{
        margin-left: 1rem;
    }
    button.btn.btn-search-activity{
        width: fit-content;
    }
}
@media (max-width:500px){
    .theader,.theader2, .tdata, .tdata2{
        padding-left: initial;
    }
    .row>aside.sidebar{
        display: none;
    }
    main.content-activity {
        width: max-content;
        padding: initial;
    }

    .container-fluid.activity{
        padding-top: 4.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    section.search-group-myclass{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    section.search-group-myclass>form.search-myclass{
        width: 100%;
    }
    form.sorting-myclass{
        justify-content: start;
        margin:initial;
        width: 100%;
        margin-left: 0;
        margin-top: 1rem;

    }

    button.btn.btn-search-activity{
        width: fit-content;
    }
    div.row>form.search-activity{
        width: 100%;
    }
    .col.col-1.th, .col.col-1{
        padding-left: 0.8rem;
    }
}

@media (max-width:376px){
    .th,.th2, .tdata, .tdata2{
        font-size: small;
    }
    .container.new-class{
        padding: 0.2rem;
    }
    .col,.col.nm{
        /* width: 0.6rem; */
        white-space: pre-line;
        text-overflow: unset;
    }
}

/* progress bar */

.rect-auto,
.c100.p51 .slice,
.c100.p52 .slice,
.c100.p53 .slice,
.c100.p54 .slice,
.c100.p55 .slice,
.c100.p56 .slice,
.c100.p57 .slice,
.c100.p58 .slice,
.c100.p59 .slice,
.c100.p60 .slice,
.c100.p61 .slice,
.c100.p62 .slice,
.c100.p63 .slice,
.c100.p64 .slice,
.c100.p65 .slice,
.c100.p66 .slice,
.c100.p67 .slice,
.c100.p68 .slice,
.c100.p69 .slice,
.c100.p70 .slice,
.c100.p71 .slice,
.c100.p72 .slice,
.c100.p73 .slice,
.c100.p74 .slice,
.c100.p75 .slice,
.c100.p76 .slice,
.c100.p77 .slice,
.c100.p78 .slice,
.c100.p79 .slice,
.c100.p80 .slice,
.c100.p81 .slice,
.c100.p82 .slice,
.c100.p83 .slice,
.c100.p84 .slice,
.c100.p85 .slice,
.c100.p86 .slice,
.c100.p87 .slice,
.c100.p88 .slice,
.c100.p89 .slice,
.c100.p90 .slice,
.c100.p91 .slice,
.c100.p92 .slice,
.c100.p93 .slice,
.c100.p94 .slice,
.c100.p95 .slice,
.c100.p96 .slice,
.c100.p97 .slice,
.c100.p98 .slice,
.c100.p99 .slice,
.c100.p100 .slice {
    clip: rect(auto, auto, auto, auto);
}

.pie,
.c100 .bar,
.c100.p51 .fill,
.c100.p52 .fill,
.c100.p53 .fill,
.c100.p54 .fill,
.c100.p55 .fill,
.c100.p56 .fill,
.c100.p57 .fill,
.c100.p58 .fill,
.c100.p59 .fill,
.c100.p60 .fill,
.c100.p61 .fill,
.c100.p62 .fill,
.c100.p63 .fill,
.c100.p64 .fill,
.c100.p65 .fill,
.c100.p66 .fill,
.c100.p67 .fill,
.c100.p68 .fill,
.c100.p69 .fill,
.c100.p70 .fill,
.c100.p71 .fill,
.c100.p72 .fill,
.c100.p73 .fill,
.c100.p74 .fill,
.c100.p75 .fill,
.c100.p76 .fill,
.c100.p77 .fill,
.c100.p78 .fill,
.c100.p79 .fill,
.c100.p80 .fill,
.c100.p81 .fill,
.c100.p82 .fill,
.c100.p83 .fill,
.c100.p84 .fill,
.c100.p85 .fill,
.c100.p86 .fill,
.c100.p87 .fill,
.c100.p88 .fill,
.c100.p89 .fill,
.c100.p90 .fill,
.c100.p91 .fill,
.c100.p92 .fill,
.c100.p93 .fill,
.c100.p94 .fill,
.c100.p95 .fill,
.c100.p96 .fill,
.c100.p97 .fill,
.c100.p98 .fill,
.c100.p99 .fill,
.c100.p100 .fill {
    position: absolute;
    border: 0.08em solid #307bbb;
    width: 0.84em;
    height: 0.84em;
    clip: rect(0em, 0.5em, 1em, 0em);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.pie-fill,
.c100.p51 .bar:after,
.c100.p51 .fill,
.c100.p52 .bar:after,
.c100.p52 .fill,
.c100.p53 .bar:after,
.c100.p53 .fill,
.c100.p54 .bar:after,
.c100.p54 .fill,
.c100.p55 .bar:after,
.c100.p55 .fill,
.c100.p56 .bar:after,
.c100.p56 .fill,
.c100.p57 .bar:after,
.c100.p57 .fill,
.c100.p58 .bar:after,
.c100.p58 .fill,
.c100.p59 .bar:after,
.c100.p59 .fill,
.c100.p60 .bar:after,
.c100.p60 .fill,
.c100.p61 .bar:after,
.c100.p61 .fill,
.c100.p62 .bar:after,
.c100.p62 .fill,
.c100.p63 .bar:after,
.c100.p63 .fill,
.c100.p64 .bar:after,
.c100.p64 .fill,
.c100.p65 .bar:after,
.c100.p65 .fill,
.c100.p66 .bar:after,
.c100.p66 .fill,
.c100.p67 .bar:after,
.c100.p67 .fill,
.c100.p68 .bar:after,
.c100.p68 .fill,
.c100.p69 .bar:after,
.c100.p69 .fill,
.c100.p70 .bar:after,
.c100.p70 .fill,
.c100.p71 .bar:after,
.c100.p71 .fill,
.c100.p72 .bar:after,
.c100.p72 .fill,
.c100.p73 .bar:after,
.c100.p73 .fill,
.c100.p74 .bar:after,
.c100.p74 .fill,
.c100.p75 .bar:after,
.c100.p75 .fill,
.c100.p76 .bar:after,
.c100.p76 .fill,
.c100.p77 .bar:after,
.c100.p77 .fill,
.c100.p78 .bar:after,
.c100.p78 .fill,
.c100.p79 .bar:after,
.c100.p79 .fill,
.c100.p80 .bar:after,
.c100.p80 .fill,
.c100.p81 .bar:after,
.c100.p81 .fill,
.c100.p82 .bar:after,
.c100.p82 .fill,
.c100.p83 .bar:after,
.c100.p83 .fill,
.c100.p84 .bar:after,
.c100.p84 .fill,
.c100.p85 .bar:after,
.c100.p85 .fill,
.c100.p86 .bar:after,
.c100.p86 .fill,
.c100.p87 .bar:after,
.c100.p87 .fill,
.c100.p88 .bar:after,
.c100.p88 .fill,
.c100.p89 .bar:after,
.c100.p89 .fill,
.c100.p90 .bar:after,
.c100.p90 .fill,
.c100.p91 .bar:after,
.c100.p91 .fill,
.c100.p92 .bar:after,
.c100.p92 .fill,
.c100.p93 .bar:after,
.c100.p93 .fill,
.c100.p94 .bar:after,
.c100.p94 .fill,
.c100.p95 .bar:after,
.c100.p95 .fill,
.c100.p96 .bar:after,
.c100.p96 .fill,
.c100.p97 .bar:after,
.c100.p97 .fill,
.c100.p98 .bar:after,
.c100.p98 .fill,
.c100.p99 .bar:after,
.c100.p99 .fill,
.c100.p100 .bar:after,
.c100.p100 .fill {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.c100 {
    position: relative;
    font-size: 7.5rem;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin: 0 0.1em 0.1em 0;
    background-color: #cccccc;
}

.c100 *,
.c100 *:before,
.c100 *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.c100>span {
    position: absolute;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
    width: 5em;
    line-height: 5em;
    font-size: 0.2em;
    color: #000;
    display: block;
    text-align: center;
    white-space: nowrap;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.c100:after {
    position: absolute;
    top: 0.08em;
    left: 0.08em;
    display: block;
    content: " ";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-color: whitesmoke;
    width: 0.84em;
    height: 0.84em;
    -webkit-transition-property: all;
    -moz-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-timing-function: ease-in;
    -moz-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}

.c100 .slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0em, 1em, 1em, 0.5em);
}

.c100:hover>span {
    width: 3.33em;
    line-height: 3.33em;
    font-size: 0.3em;
    color: #307bbb;
}

.c100:hover:after {
    top: 0.04em;
    left: 0.04em;
    width: 0.92em;
    height: 0.92em;
}

.c100.small {
    font-size: 2.5rem;
}

.c100.p80 .bar {
    -webkit-transform: rotate(288deg);
    -moz-transform: rotate(288deg);
    -ms-transform: rotate(288deg);
    -o-transform: rotate(288deg);
    transform: rotate(288deg);
}

.c100.p25 .bar {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.c100.p69 .bar {
    -webkit-transform: rotate(248.4deg);
    -moz-transform: rotate(248.4deg);
    -ms-transform: rotate(248.4deg);
    -o-transform: rotate(248.4deg);
    transform: rotate(248.4deg);
}