.class-name-input{
    border: none;
    box-shadow: none;
    outline: none;
}
select.cnc, input.input-time{
    width: fit-content;
    height: fit-content;
    
}

input.input-time{
    text-align: center;
    width: fit-content;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: none;
    border-bottom: solid #000 1px;
}

.class-name-input{
    height: fit-content;
}

.pricing-radio{
    margin-left: 0.5rem;
    margin-right: 1rem;
}



textarea.form-control.cnc{
    width: 98%;
    margin-left: 0.8rem;
    background-color:#EBEBEB ;
    box-shadow: none;
}

.btn-create{
    background-color: #57BA61;
    color: white;
    font-size: 1rem;
    border-radius: 20px;
    height: 40px;
    width: 320px;
    text-align: center;
    margin-top: 1rem;
    vertical-align: center;
}

input[type="time"]::-webkit-calendar-picker-indicator { background: none; display:none; }


@media (max-width:768px){

    .wrapper>.container.new-class{
        padding-top: 0.5rem;
    }

    form.create-new-class>.row.d-flex{
        font-size: 0.8rem;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    form.create-new-class>.row.d-flex>.col-5.d-flex.form-group.cnc{
        width: 100%;
    }
    /* .col.d-flex.justify-content-start.form-group.cnc.sch{
        display: flex;
        flex-direction: column;
    } */
}