
#msg-panel {
    position: fixed;
    right: 1rem;
    width: 30%;
    height: 93.5%;
    overflow-y: auto;
    background-color: white;
    border-radius: 1.25rem;
    padding: 2rem 2.5rem;
}

#msg-head {
    margin-bottom: 1rem;
}

.form-group>label {
    /* color: #D2DEED; */
    position: absolute;
    padding: 0.5rem;
    color: #000;
}

.form-group>input {
    font-size: 0.875rem;
    padding: 0.5rem 2rem;
    border: none;
    box-shadow: none !important;
    color: #000;
    background-color: #e6edf6;
    width: 100%;
}

#search-bar {
    margin-bottom: 2rem;
}

.name-chat {
    font-family: 'Kanit', sans-serif;
    font-size: 1.32rem;
}

div.main-chat {
    padding-left: 2rem;
}

.snippet-chat,
.time-chat {
    font-family: 'Kanit', sans-serif;
    font-size: 0.875rem;
    color: #787878;
}

.group-list {
    position: relative;
    margin-bottom: 1rem;
    width: 100%;
}

.name-chat {
    height: 2rem;
    position: relative;
    overflow: hidden;
}

.snippet-chat {
    height: 1.325rem;
    overflow: hidden;
}

.name-chat>a {
    text-decoration: none;
    color: #000;
}

.msg-float {
    border-radius: 5px;
    position: fixed;
    background-color: white;
    width: 14rem;
    /* display: flex; */
    padding: 0.5rem 1rem;
    bottom: 0;
    right: 0;
    border: #989898 solid 1px;
}

button.msg-float {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #000;
}

.hidden {
    visibility: hidden;
}
/*  */