.msg-float {
    border-radius: 5px;
    position: fixed;
    background-color: white;
    width: 14rem;
    /* display: flex; */
    padding: 0.5rem 1rem;
    bottom: 0;
    right: 0;
    border: #989898 solid 1px;
    visibility: hidden;
}

button.msg-float {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: #000;
}

@media(max-width:768px){
    .msg-float{
        visibility: visible;
    }
}