.news-section {
    border-radius: 1.25rem;
    background-color: white;
    overflow: hidden;
    padding: 0;
}

.news-banner-wrapper {
    position: relative;
    top: 0;
    left: 0;
    height: 24.6875rem;
}

img.news-bn-background {
    width: 100%;
    height: 24.6875rem;
    position: relative;
}

span.news-bn-shadow {
    height: 24.6875rem;
    /* margin-top: 20%; */
    width: 100%;
    top: 64%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #5784BA;
    background: linear-gradient(0deg, #000000 -94.8%, rgba(0, 0, 0, 0) 122%);
}

.news-headline {
    position: absolute;
    top: 75%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 1.47875rem;
    color: white;
}

.slider {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sld {
    margin-right: 0.5rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: white;
    border-radius: 50%;
    margin-right: 0.5rem;
    position: relative;
    /* border: #5784BA solid; */
}

.sld.active {
    width: 1.26875rem;
    border-radius: 0.3125rem;
    background-color: #5784BA;
}