/* @import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
    font-family: 'Kanit', sans-serif;
    background-color: #e6edf6;
    position: relative;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-width: 280px;
}

.row {
    width: 100vw;
    height: 100vh;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
}

a.btn-back {
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: #010620;
    font-size: 1.5rem;
}

.right-panel {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset-form {
    width: 75%;
    min-width: 20%;
}

.title {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.msg1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.msg2 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #837F8F;
    width: 70%;
}

.form-group {
    position: relative;
    margin: 20px 0;
    bottom: -5rem;
}

.form-group>label {
    font-size: 0.875rem;
    font-weight: 400;
    color: #ADA9BB;
    padding: 0 0.2em;
    position: absolute;
    top: -0.7em;
    left: 1em;
    background-color: white;
}

.form-group>input {
    font-family: 'Roboto', sans-serif;
    height: 3.8rem;
    box-shadow: none !important;
}

.btn-send {
    font-size: 1.5rem;
    color: white;
    height: 3.8rem;
    background-color: #5784BA;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-send:hover {
    background-color: #5784baa6;
}

.row,
.col,
.left-panel,
.right-panel {
    min-width: 280px;
}

@media (max-width: 600px) {
    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .msg1,
    .msg2 {
        font-size: medium;
    }
}

@media (max-width: 559px) {
    img {
        width: 45%;
        position: relative;
        top: 50%;
    }
    .title {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .msg1,
    .msg2 {
        font-size: medium;
    }
    form.reset-form {
        position: relative;
        bottom: 70px;
    }
    .form-group {
        margin-top: 0;
    }
    .right-panel {
        padding-top: 7.6rem;
        height: 100vh;
        justify-content: start;
    }
    .form-group>input,
    .btn-send {
        height: auto;
    }
    .btn-send {
        font-size: medium;
    }
}

@media (max-width: 320px) {
    .title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .msg1,
    .msg2 {
        font-size: small;
    }
    .btn-back {
        left: 1rem !important;
        top: 1rem !important;
    }
}

@media(max-height: 540px) {
    body {
        background: linear-gradient(90deg, #e6edf6 50%, white 50%);
        ;
    }
} */