.container-fluid.reset-pass {
    min-width: 280px;
    min-height: 640px;
}
.row {
    height: fit-content;
    overflow: hidden;
    margin: 0;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

a.btn-back {
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: #010620;
    font-size: 1.5rem;
}

.right-panel {
    background-color: #fff;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    padding: 5rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-height: 640px;
}

.pw-changed {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    top: 0;
    width: 50%;
    color: white;
    min-width: 280px;
}
.changedIcon {
    width: 18.875rem;
    height: auto;
}
a.txtLoginBack {
    color: white;
}

.hidden {
    visibility: hidden;
}

.reset-form {
    width: 75%;
    min-width: 20%;
    margin-top: 6rem;
}

.title.reset {
    font-size: 3rem;
    font-weight: 500;
    /* margin-bottom: 5rem; */
    padding-left: 1rem;
    padding-right: 1rem;
}

.msg1 {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
}

.msg2 {
    font-size: 1.25rem;
    padding: 0.5rem;
    font-weight: 400;
    color: #837f8f;
    width: 70%;
}

.form-group {
    position: relative;
    margin: 20px 0;
}

.btn-send {
    font-size: 1.5rem;
    color: white;
    height: 3.8rem;
    background-color: #5784ba;
    width: 100%;
    margin-bottom: 0;
}

.btn-send:hover {
    background-color: #5784baa6;
}

.form-control.verif {
    border-style: none none solid none;
    border-bottom: #010620 solid 2px;
    margin-right: 0.5rem;
    font-size: 3.3rem;
    width: 4.2rem;
    color: #010620;
    font-weight: bold;
}

.txtresend {
    position: relative;
    margin-bottom: 10rem;
    color: #ada9bb;
}
.row,
.left-panel,
.right-panel {
    min-width: 280px;
}

.dhidden {
    display: none;
}

@media (max-width: 1024px) {
    h1.title.reset {
        font-size: 2.5rem;
        /* margin-bottom: auto; */
    }

    .msg1 {
        font-size: 1.25rem;
    }

    .msg2 {
        font-size: 1rem;
    }
    .btn-send {
        height: 3rem;
        font-size: 1rem;
    }

    .image-reset {
        width: 80%;
    }
    .txtresend {
        margin-bottom: 3rem;
    }
    forms.reset-form {
        margin-top: auto;
    }
}

@media (max-width: 768px) {
    .title.reset {
        margin-bottom: 2rem;
    }
    .reset-form {
        width: 85%;
        margin-top: 2rem;
    }
    .txtresend {
        margin-bottom: 5rem;
    }
    .form-control.verif {
        font-size: 2rem;
    }
}

@media (max-width: 560px) {
    .container-fluid.reset-pass {
        height: 100vh;
        overflow: hidden;
    }
    .image-reset {
        position: relative;
        width: 70%;
        top: 4rem;
    }
    .right-panel {
        width: 100%;
        height: 100vh;
        padding-top: 25%;
        justify-content: start;
    }
    h1.title.reset {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .msg1 {
        font-size: 1rem;
        margin-bottom: initial;
    }

    .msg2 {
        font-size: 0.875rem;
        margin-bottom: 0;
    }

    form.reset-form {
        margin-top: 2rem;
    }
    small.match.password.d-flex.justify-content-start,
    small.notmatch.password.d-flex.justify-content-start {
        margin-bottom: 1rem;
    }
    .pw-changed {
        width: 100%;
        /* height: 100vh; */
    }
}

@media (max-width: 320px) {
    .image-reset {
        position: relative;
        width: 50%;
        top: 3rem;
    }

    h1.title.reset {
        font-size: 1.5rem;
    }
    .msg2 {
        font-size: 0.875rem;
        margin-bottom: 0;
    }

    img.changedIcon {
        width: 70%;
    }
}
