.row {
    height: fit-content;
    overflow: hidden;
    margin: 0;
}

.left-panel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 50%;
}

a.btn-back {
    position: absolute;
    left: 2rem;
    top: 2rem;
    color: #010620;
    font-size: 1.5rem;
}

.right-panel {
    background-color: #fff;
    height: 100vh;
    width: 50%;
    overflow: hidden;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pw-changed{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.75);
    height: 100%;
    top: 0;
    width: 50%;
    color: white;
}
.changedIcon{
    width: 18.875rem;
    height: auto;
}
a.txtLoginBack{
    color: white;
}

.hidden{
    display: none;
}

.reset-form {
    width: 75%;
    min-width: 20%;
    margin-top: 6rem;
}

.title.reset {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 7rem;
}

.msg1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.msg2 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #837F8F;
    width: 70%;
}

.form-group {
    position: relative;
    margin: 20px 0;

}

.btn-send {
    font-size: 1.5rem;
    color: white;
    height: 3.8rem;
    background-color: #5784BA;
    width: 100%;
    margin-bottom: 1rem;
}

.btn-send:hover {
    background-color: #5784baa6;
}

.form-control.verif{
    border-style: none none solid none;
    border-bottom: #010620 solid 2px;
    margin-right: 0.5rem;
    font-size: 3.3rem;
    width: 4.2rem;
    color: #010620;
    font-weight: bold;
}


.txtresend {
    position: relative;
    margin-bottom: 10rem;
    color: #ADA9BB
}
.row,
.col,
.left-panel,
.right-panel {
    min-width: 280px;
}

@media (max-width: 600px) {
    .title.reset{
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .msg1,
    .msg2 {
        font-size: medium;
    }
}

@media (max-width: 559px) {
    img {
        width: 45%;
        position: relative;
        top: 50%;
    }
    .title.reset {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
    .msg1,
    .msg2 {
        font-size: medium;
    }
    form.reset-form {
        position: relative;
        bottom: 70px;
    }
    .form-group {
        margin-top: 0;
    }
    .right-panel {
        padding-top: 7.6rem;
        height: 100vh;
        justify-content: start;
    }
    .form-group>input,
    .btn-send {
        height: auto;
    }
    .btn-send {
        font-size: medium;
    }
}

@media (max-width: 320px) {
    .title.reset {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    .msg1,
    .msg2 {
        font-size: small;
    }
    .btn-back {
        left: 1rem !important;
        top: 1rem !important;
    }
}

@media(max-height: 540px) {
    body {
        background: linear-gradient(90deg, #e6edf6 50%, white 50%);
        ;
    }
}