.sub-label-dash {
    font: 3.94rem;
    font-weight: bold;
    padding: 0;
}

.cal-group {
    padding: 0.5rem;
}

.day>a,
.date>a {
    font-family: 'Kanit', sans-serif;
    text-decoration: none;
    font-size: 1.125rem;
}

.day>a {
    color: #989898
}

.date>a {
    color: #000;
}

.active-cal {
    background-color: #5784BA;
    color: white !important;
    border-radius: 0.9375rem;
}

.calendar-icon {
    padding: 1rem 0;
}